.forecast {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 300px 0;
}

.weather {
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(162, 252, 255), rgb(64, 133, 173));
    width: 140px;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgb(72, 77, 148);
    transition: .4s;
}

.weather:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom right, rgb(73, 109, 129), rgb(143, 159, 252));
}